main {
  flex-grow: 1;
  background-color: #f7f6f9;
  padding: 35px;
  display: flex; 
  width: 600px;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap; 
}

.main-content {
  flex: 1;
}

.topControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.listingControls {
  display: flex;
  gap: 8px;
}

.customSelect {
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
}

.daysControls {
  all: unset;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cards {
  display: block; 
  gap: 20px;
  flex-wrap: wrap; 
}

#myChart {
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: block;
  width: 300px;
  font-size: 12px;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
}

.metrics-table,
.purplecards {
  flex: 1;
  width: 50%;
  display:flex;
  flex-wrap: nowrap;
 flex-direction: row;
 font-size: 12px;
}

.metrics-table table { 
  border: 1px solid #ddd;
  border-radius: 15px;
  display:block;
  width: 100px;
  flex: 1;
}

.metrics-table th,
.metrics-table td {
  padding: 10px;
  text-align:center;
  border-bottom: 1px solid #ddd;
}

.purplecards {
  display: flex; 
  gap: 20px;
  width: 100px; 
  margin-bottom: 20px; 
  flex:1;
}

.purplecard {
  background-color: #54344d;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
}

.purplecard .subtitle {
  
  font-size: 12px;
}

.purplecard .title {
  padding: 15px;
  font-size: 20px;
}

.purplecard i {
  padding: 10px;
  font-size: 15px;
}
